---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/atoms/Badge.astro";
import LinkedinIcon from "../components/atoms/icons/LinkedinIcon.astro";
import GithubIcon from "../components/atoms/icons/GithubIcon.astro";
import SocialPill from "../components/molecules/SocialPill.astro";
import MailIcon from "../components/atoms/icons/MailIcon.astro";
---

<Layout title="Pedro Rodríguez">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-20 h-20 object-cover mb-4 hover:scale-150 transition"
        src="/public/images/Main.jpg"
        alt="Pedro photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Pedro <div class="flex justify-center items-center">
          <a
            href="https://www.linkedin.com/in/pedro-rodriguez-albiach-3066222a2/"
            target="_blank"
            class="flex justify-center items-center"
            rel="noopener"
          >
            <Badge>Disponible para trabajar</Badge></a
          >
        </div>
      </h1>
      <h2 class="text-xl opacity-80 text-wrap">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat
        laoreet libero, sit amet dignissim eros laoreet id. Quisque dapibus
        libero tempus sem auctor, eu bibendum velit suscipit. Sed ultrices
        sapien vitae nisl imperdiet fermentum. Donec condimentum ullamcorper
        metus nec condimentum.
      </h2>

      <!-- Links -->
      <nav class="flex gap-x-4 py-4">
        <SocialPill
          href="https://www.linkedin.com/in/pedro-rodriguez-albiach-3066222a2/"
          ><LinkedinIcon class="w-6 h-6" />Linkedin</SocialPill
        >
        <SocialPill href="https://github.com/pmaroal"
          ><GithubIcon class="w-6 h-6" />GitHub</SocialPill
        >
        <SocialPill href="https://github.com/pmaroal"
          ><MailIcon class="w-6 h-6" />Mail</SocialPill
        >
      </nav>
    </section>
  </main>
</Layout>
