---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/atoms/Badge.astro";
import LinkedinIcon from "../components/atoms/icons/LinkedinIcon.astro";
import GithubIcon from "../components/atoms/icons/GithubIcon.astro";
import SocialPill from "../components/molecules/SocialPill.astro";
import MailIcon from "../components/atoms/icons/MailIcon.astro";
import Experience from "../components/molecules/Experience.astro";
import SectionContainer from "../components/atoms/SectionContainer.astro";
import ExperienceIcon from "../components/atoms/icons/ExperienceIcon.astro";
import ProjectsIcon from "../components/atoms/icons/ProjectsIcon.astro";
import PartnershipsIcon from "../components/atoms/icons/PartnershipsIcon.astro";
import Projects from "../components/molecules/Projects.astro";
import Partnerships from "../components/molecules/Partnerships.astro";
import { Image } from "astro:assets";
import Technologies from "../components/molecules/Technologies.astro";
import TechnologiesIcon from "../components/atoms/icons/TechnologiesIcon.astro";
---

<Layout
  title="Portfolio Pedro Rodríguez - Desarrollador y programador Web"
  description="Contrata a Pedro Rodríguez para trabajar en tu empresa."
>
  <main class="flex flex-col gap-14 md:gap-36">
    <!-- ---------------------------------------- About me section ---------------------------------------- -->
    <SectionContainer
      id="about"
      class="flex flex-col items-center h-screen gap-10 justify-center sm:pt-0 pt-20"
    >
      <div class="flex w-fit flex-col-reverse sm:flex-row">
        <div class="flex flex-col max-w-[500px] sm:gap-0 gap-7">
          <div
            class="flex sm:flex-row flex-col sm:gap-5 gap-3 items-center justify-center"
          >
            <h1
              class="text-white text-3xl sm:text-5xl font-bold flex flex-col sm:flex-row py-3 sm:py-10"
            >
              Hey, I'm Pedro
            </h1>
            <a
              href="https://www.linkedin.com/in/pedro-rodriguez-albiach-3066222a2/"
              target="_blank"
              class="flex justify-center items-center"
              rel="noopener"
            >
              <Badge>Available to work</Badge></a
            >
          </div>

          <h2
            class="text-xl text-center opacity-80 sm:text-balance sm:text-left"
          >
            <!-- Después de años preguntándome cómo funcionan las aplicaciones y las
            webs que usamos a diario, decidí dar el salto hacia la programación.
            Ahora, me dedico a crear soluciones digitales que combinan
            creatividad y funcionalidad, con el objetivo de seguir aprendiendo y
            evolucionando en este fascinante mundo del desarrollo web. -->
            After years of wondering how the applications and websites we use every
            day work, I decided to take the leap into programming. Now, I am dedicated
            to create digital solutions that combine creativity and functionality,
            with the goal of continuing to learn and evolve in this fascinating world
            of web development.
          </h2>
        </div>
        <img
          class="sm:size-28 size-20 object-cover hover:scale-110 transition rounded-full m-auto sm:m-0"
          src="/images/Main.webp"
          alt="Pedro photo"
        />
      </div>
      <!-- Links -->
      <nav class="flex sm:-translate-x-24 gap-x-4 sm:pl-0 pl-3">
        <SocialPill
          href="https://www.linkedin.com/in/pedro-rodriguez-albiach-3066222a2/"
          ><LinkedinIcon class="size-6" />Linkedin</SocialPill
        >
        <SocialPill href="https://github.com/pmaroal"
          ><GithubIcon class="size-6" />GitHub</SocialPill
        >
        <SocialPill href="https://github.com/pmaroal"
          ><MailIcon class="size-6" />Mail</SocialPill
        >
      </nav>
    </SectionContainer>
    <!-- ---------------------------------------- Personal projects section ------------------------------------------ -->
    <SectionContainer id="projects" class="gap-10 flex flex-col">
      <h2 class="text-3xl font-bold flex flex-row gap-4 items-center">
        <ProjectsIcon class="size-10" />Personal projects
      </h2>
      <Projects />
    </SectionContainer>
    <!-- ---------------------------------------- PartnerShips section ---------------------------------------- -->
    <SectionContainer id="partnerships" class="gap-10 flex flex-col">
      <h2
        class="text-3xl font-bold flex flex-row gap-4 items-center justify-center md:justify-normal"
      >
        <PartnershipsIcon class="size-10" />Partnerships
      </h2>
      <Partnerships />
    </SectionContainer>
    <!-- ---------------------------------------- Technologies section ---------------------------------------- -->
    <SectionContainer id="technologies" class="gap-10 flex flex-col">
      <h2
        class="text-3xl font-bold flex flex-row gap-4 items-center justify-center md:justify-normal"
      >
        <TechnologiesIcon class="size-6" />Technologies
      </h2>
      <Technologies />
    </SectionContainer>
    <!-- ---------------------------------------- Experience section ---------------------------------------- -->
    <SectionContainer id="experience" class="gap-10 flex flex-col">
      <h2 class="text-3xl font-bold flex flex-row gap-4 items-center">
        <ExperienceIcon /> Experience
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
