---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/atoms/Badge.astro";
import LinkedinIcon from "../components/atoms/icons/LinkedinIcon.astro";
import GithubIcon from "../components/atoms/icons/GithubIcon.astro";
import SocialPill from "../components/molecules/SocialPill.astro";
import MailIcon from "../components/atoms/icons/MailIcon.astro";
import Experience from "../components/molecules/Experience.astro";
import SectionContainer from "../components/atoms/SectionContainer.astro";
import ExperienceIcon from "../components/atoms/icons/ExperienceIcon.astro.astro";
import ProjectsIcon from "../components/atoms/icons/ProjectsIcon.astro";
import Footer from "../components/atoms/Footer.astro";
import ProjectsCards from "../components/molecules/ProjectsCards.astro";
---

<Layout
  title="Portfolio Pedro Rodríguez - Desarrollador y programador Web"
  description="Contrata a Pedro Rodríguez para trabajar en tu empresa o proyecto web de forma remota."
>
  <main class="flex flex-col gap-24">
    <!-- First section -->
    <SectionContainer id="about" class="flex flex-col items-center pt-48">
      <div class="flex gap-4 w-fit">
        <div class="flex flex-col w-fit max-w-[500px]">
          <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
            Hey, I'm Pedro <div class="flex justify-center items-center">
              <a
                href="https://www.linkedin.com/in/pedro-rodriguez-albiach-3066222a2/"
                target="_blank"
                class="flex justify-center items-center"
                rel="noopener"
              >
                <Badge>Available to work</Badge></a
              >
            </div>
          </h1>
          <h2 class="text-xl opacity-80 text-wrap">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            volutpat laoreet libero, sit amet dignissim eros laoreet id. Quisque
            dapibus libero tempus sem auctor, eu bibendum velit suscipit. Sed
            ultrices sapien vitae nisl imperdiet fermentum. Donec condimentum
            ullamcorper metus nec condimentum.
          </h2>
        </div>
        <img
          class="rounded-full size-52 object-cover mb-4 hover:scale-110 transition"
          src="/public/images/Main.jpg"
          alt="Pedro photo"
        />
      </div>
      <!-- Links -->
      <nav class="flex gap-x-4 py-4 w-fit">
        <SocialPill
          href="https://www.linkedin.com/in/pedro-rodriguez-albiach-3066222a2/"
          ><LinkedinIcon class="size-6" />Linkedin</SocialPill
        >
        <SocialPill href="https://github.com/pmaroal"
          ><GithubIcon class="size-6" />GitHub</SocialPill
        >
        <SocialPill href="https://github.com/pmaroal"
          ><MailIcon class="size-6" />Mail</SocialPill
        >
      </nav>
    </SectionContainer>
    <!-- Projects section -->
    <SectionContainer id="projects">
      <ProjectsCards />
    </SectionContainer>
    <!-- Experience section -->
    <SectionContainer id="experience" class="gap-10 flex flex-col pb-10">
      <h2 class="text-3xl font-bold flex flex-row gap-4 items-center">
        <ExperienceIcon /> Experience
      </h2>
      <Experience />
    </SectionContainer>

    <Footer />
  </main>
</Layout>
