---
interface Props {
  href: string;
  image: string;
  title: string;
}
const { href, image, title } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="flex flex-col items-center max-w-[300px] bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 hover:scale-105 transition"
>
  <img class="object-cover w-full rounded-lg" src={image} alt="" />
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {title}
    </h5>
  </div>
</a>
