<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Agrega el evento de scroll
    window.addEventListener("scroll", () => {
      const scrollPosition = window.scrollY; // Obtiene la cantidad de desplazamiento vertical

      const header = document.querySelector("header"); // Selecciona el header

      if (header) {
        // Verifica que el header no sea null
        if (scrollPosition > 0) {
          // El usuario ha comenzado a hacer scroll
          header.classList.add("bg-black/80", "shadow-lg"); // A침ade clases para el scroll
          header.classList.remove("bg-transparent"); // Remueve la clase original
          // El usuario ha comenzado a hacer scroll
        } else {
          // El usuario est치 en la parte superior de la p치gina
          header.classList.remove("bg-black/80", "shadow-lg"); // Remueve clases para el scroll
          header.classList.add("bg-transparent"); // A침ade la clase original
        }
      }
    });
  });
</script>

<header
  class="justify-center items-center py-3 flex flex-row m-auto backdrop-blur-md fixed top-0 w-full z-50 transition-colors duration-300 ease-in-out"
>
  <nav class="flex gap-20 flex-row bg-opacity-10">
    <a class="hover:text-yellow-200" href="#experience">Experience</a>
    <a class="hover:text-yellow-200" href="#top">About me</a>
    <a class="hover:text-yellow-200" href="#projects">Personal projects</a>
    <a class="hover:text-yellow-200" href="#partnerships">Partnerships</a>
    <a class="hover:text-yellow-200" href="#contact">Contact</a>
  </nav>
</header>
