<header
  class="justify-center items-center py-3 w-[1120px] flex flex-row m-auto my-8"
>
  <nav class="flex gap-4 flex-row opacity-80">
    <a href="/">Home</a>
    <a href="about">About</a>
    <a href="projects">Projects</a>
    <a href="contact">Contact</a>
  </nav>
</header>
