<header
  class="justify-center items-center py-3 w-[1120px] flex flex-row m-auto my-8"
>
  <nav class="flex gap-20 flex-row opacity-80">
    <a class="hover:scale-105 transition" href="/">Home</a>
    <a class="hover:scale-105 transition" href="about">About</a>
    <a class="hover:scale-105 transition" href="projects">Projects</a>
    <a class="hover:scale-105 transition" href="contact">Contact</a>
  </nav>
</header>
