---
import Card from "../atoms/Card.astro";
import "swiper/css";
const PROJECTS = [
  {
    href: "https://adaptasocios.com/",
    alt: "Adapta socios",
    image: "/images/contributions/AdaptaSocios.webp",
    title: "Adapta socios",
  },
  {
    href: "https://calerosailingteam.com/es",
    alt: "Calero Sailing Team",
    image: "/images/contributions/Calero.webp",
    title: "Calero Sailing Team",
  },
  {
    href: "https://graciplus.com/es",
    alt: "Graciplus",
    image: "/images/contributions/Graciplus.webp",
    title: "Graciplus",
  },
  {
    href: "https://www.longbeachlanzarote.com/es",
    alt: "Long Beach Club",
    image: "/images/contributions/LongBeachClub.webp",
    title: "Long Beach Club",
  },
  {
    href: "https://mumbaimasalarestaurants.com/es",
    alt: "Mumbai Masala",
    image: "/images/contributions/Mumbai.webp",
    title: "Mumbai Masala",
  },
  {
    href: "https://olsen.estate/es/buy-and-sell",
    alt: "Olsen State",
    image: "/images/contributions/OlsenState.webp",
    title: "Olsen State",
  },
  {
    href: "https://clinicaomegalanzarote.com/",
    alt: "Clínica Omega Vision",
    image: "/images/contributions/OmegaVision.webp",
    title: "Clínica Omega Vision",
  },
];
---

<div class="w-full relative">
  <div
    class="swiper multiple-slide-carousel swiper-container relative text-gray-600"
  >
    <div class="swiper-wrapper">
      {
        PROJECTS.map((project) => (
          <div class="swiper-slide pl-4">
            <Card {...project} />
          </div>
        ))
      }
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";

  var swiper = new Swiper(".multiple-slide-carousel", {
    loop: true,
    breakpoints: {
      // Cuando el ancho de pantalla sea de 1024px o más
      700: { slidesPerView: 3 },
      //Para pantallas más pequeñas
      500: {
        slidesPerView: 2,
      },
      0: { slidesPerView: 1 },
    },
    navigation: {
      nextEl: ".multiple-slide-carousel .swiper-button-next",
      prevEl: ".multiple-slide-carousel .swiper-button-prev",
    },
  });
</script>
