---
import Card from "../atoms/Card.astro";
const PROJECTS = [
  {
    href: "https://adaptasocios.com/",
    alt: "Adapta socios",
    image: "/images/contributions/AdaptaSocios.webp",
    title: "Adapta socios",
  },
  {
    href: "https://calerosailingteam.com/es",
    alt: "Calero Sailing Team",
    image: "/images/contributions/Calero.webp",
    title: "Calero Sailing Team",
  },
  {
    href: "https://graciplus.com/es",
    alt: "Graciplus",
    image: "/images/contributions/Graciplus.webp",
    title: "Graciplus",
  },
  {
    href: "https://www.longbeachlanzarote.com/es",
    alt: "Long Beach Club",
    image: "/images/contributions/LongBeachClub.webp",
    title: "Long Beach Club",
  },
  {
    href: "https://mumbaimasalarestaurants.com/es",
    alt: "Mumbai Masala",
    image: "/images/contributions/Mumbai.webp",
    title: "Mumbai Masala",
  },
  {
    href: "https://olsen.estate/es/buy-and-sell",
    alt: "Olsen State",
    image: "/images/contributions/OlsenState.webp",
    title: "Olsen State",
  },
  {
    href: "https://clinicaomegalanzarote.com/",
    alt: "Clínica Omega Vision",
    image: "/images/contributions/OmegaVision.webp",
    title: "Clínica Omega Vision",
  },
];
---

<div class="flex flex-wrap justify-center gap-10">
  {PROJECTS.map((project) => <Card {...project} />)}
</div>
