---
import Card from "../atoms/Card.astro";
import "swiper/css";
const PROJECTS = [
  {
    href: "https://adaptasocios.com/",
    image: "/public/images/contributions/AdaptaSocios.png",
    title: "Adapta socios",
  },
  {
    href: "https://calerosailingteam.com/es",
    image: "/public/images/contributions/Calero.png",
    title: "Calero Sailing Team",
  },
  {
    href: "https://graciplus.com/es",
    image: "/public/images/contributions/Graciplus.png",
    title: "Graciplus",
  },
  {
    href: "https://www.longbeachlanzarote.com/es",
    image: "/public/images/contributions/LongBeachClub.png",
    title: "Long Beach Club",
  },
  {
    href: "https://mumbaimasalarestaurants.com/es",
    image: "/public/images/contributions/Mumbai.png",
    title: "Mumbai Masala",
  },
  {
    href: "https://olsen.estate/es/buy-and-sell",
    image: "/public/images/contributions/OlsenState.png",
    title: "Olsen State",
  },
  {
    href: "https://clinicaomegalanzarote.com/",
    image: "/public/images/contributions/OmegaVision.png",
    title: "Clínica Omega Vision",
  },
];
---

<div class="w-full relative">
  <div
    class="swiper multiple-slide-carousel swiper-container relative text-gray-600"
  >
    <div class="swiper-wrapper">
      {
        PROJECTS.map((project) => (
          <div class="swiper-slide">
            <Card {...project} />
          </div>
        ))
      }
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";

  var swiper = new Swiper(".multiple-slide-carousel", {
    loop: true,
    slidesPerView: 3,
    spaceBetween: 10,
    navigation: {
      nextEl: ".multiple-slide-carousel .swiper-button-next",
      prevEl: ".multiple-slide-carousel .swiper-button-prev",
    },
  });
</script>
