---
import Card from "../atoms/Card.astro";
import "swiper/css";
const PROJECTS = [
  {
    href: "https://coffeeblogmaroal.netlify.app/",
    github: "https://github.com/pmaroal/CoffeeBlog",
    alt: "project1",
    image: " /images/personalProjects/blogDeCafe.png",
    title: "Coffee blog",
    content:
      "A simple coffee blog built with Vanilla JavaScript, HTML, and CSS. Focused on clean design and smooth user experience.",
  },
  {
    href: "https://festivalmusicatechno.netlify.app/",
    github: "https://github.com/pmaroal/music-festival",
    alt: "project 2",
    image: "/images/personalProjects/festival.png",
    title: "Music festival",
    content:
      "A techno music festival website showcasing event details and lineups. Built with a focus on performance, modern design, and responsive layout.",
  },
];
---

<div class="flex flex-wrap justify-center gap-10">
  {PROJECTS.map((project) => <Card {...project} />)}
</div>
