---
import Card from "../atoms/Card.astro";
import "swiper/css";
const PROJECTS = [
  {
    href: "https://coffeeblogmaroal.netlify.app/",
    github: "https://github.com/pmaroal/CoffeeBlog",
    alt: "project1",
    image: " /images/personalProjects/blogDeCafe.png",
    title: "Project 1",
    content:
      "This is a blog about coffee, where you can find information about the history of coffee, the different types of coffee, and the different ways to prepare it.",
  },
  {
    href: "https://festivalmusicatechno.netlify.app/",
    github: "https://github.com/pmaroal/music-festival",
    url: "",
    alt: "project1",
    image: "/images/personalProjects/festival.png",
    title: "Project 2",
    content:
      "This is a music festival website, where you can find information about the festival, the artists, and the tickets.",
  },
];
---

<div class="flex flex-wrap justify-center gap-10">
  {PROJECTS.map((project) => <Card {...project} />)}
</div>
