---
import Card from "../atoms/Card.astro";
import "swiper/css";
const PROJECTS = [
  {
    href: "https://coffeeblogmaroal.netlify.app/",
    github: "https://github.com/pmaroal/CoffeeBlog",
    alt: "project1",
    image: " /images/personalProjects/blogDeCafe.png",
    title: "Project 1",
  },
  {
    href: "https://festivalmusicatechno.netlify.app/",
    github: "https://github.com/pmaroal/music-festival",
    url: "",
    alt: "project1",
    image: "/images/personalProjects/festival.png",
    title: "Project 2",
  },
  {
    alt: "project1",
    image: "",
    title: "Project 3",
  },
  {
    alt: "project1",
    image: "",
    title: "Project 4",
  },
  {
    alt: "project1",
    image: "",
    title: "Project 5",
  },
];
---

<div class="flex flex-wrap justify-center gap-10">
  {PROJECTS.map((project) => <Card {...project} />)}
</div>
