---
import Card from "../atoms/Card.astro";

const PROJECTS = [
  {
    href: "https://adaptasocios.com/",
    image: "/public/images/contributions/AdaptaSocios.png",
    title: "Adapta socios",
  },
  {
    href: "https://calerosailingteam.com/es",
    image: "/public/images/contributions/Calero.png",
    title: "Calero Sailing Team",
  },
  {
    href: "https://graciplus.com/es",
    image: "/public/images/contributions/Graciplus.png",
    title: "Graciplus",
  },
  {
    href: "https://www.longbeachlanzarote.com/es",
    image: "/public/images/contributions/LongBeachClub.png",
    title: "Long Beach Club",
  },
  {
    href: "https://mumbaimasalarestaurants.com/es",
    image: "/public/images/contributions/Mumbai.png",
    title: "Mumbai Masala",
  },
  {
    href: "https://olsen.estate/es/buy-and-sell",
    image: "/public/images/contributions/OlsenState.png",
    title: "Olsen State",
  },
  {
    href: "https://clinicaomegalanzarote.com/",
    image: "/public/images/contributions/OmegaVision.png",
    title: "Clínica Omega Vision",
  },
];
---

<div class="flex flex-wrap gap-6 justify-center">
  {PROJECTS.map((project) => <Card {...project} />)}
</div>
