---
import Card from "../atoms/Card.astro";
import "swiper/css";
const PROJECTS = [
  {
    href: "https://adaptasocios.com/",
    image: "/public/images/contributions/AdaptaSocios.png",
    title: "Adapta socios",
  },
  {
    href: "https://calerosailingteam.com/es",
    image: "/public/images/contributions/Calero.png",
    title: "Calero Sailing Team",
  },
  {
    href: "https://graciplus.com/es",
    image: "/public/images/contributions/Graciplus.png",
    title: "Graciplus",
  },
  {
    href: "https://www.longbeachlanzarote.com/es",
    image: "/public/images/contributions/LongBeachClub.png",
    title: "Long Beach Club",
  },
  {
    href: "https://mumbaimasalarestaurants.com/es",
    image: "/public/images/contributions/Mumbai.png",
    title: "Mumbai Masala",
  },
  {
    href: "https://olsen.estate/es/buy-and-sell",
    image: "/public/images/contributions/OlsenState.png",
    title: "Olsen State",
  },
  {
    href: "https://clinicaomegalanzarote.com/",
    image: "/public/images/contributions/OmegaVision.png",
    title: "Clínica Omega Vision",
  },
];
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      PROJECTS.map((project) => (
        <div class="swiper-slide">
          <Card {...project} />
        </div>
      ))
    }
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper(".swiper");
  const swiper = new Swiper(".swiper-container", {
    slidesPerView: 3,
    spaceBetween: 20,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
  });
</script>
