---
import Card from "../atoms/Card.astro";
import "swiper/css";
const PROJECTS = [
  {
    href: "",
    alt: "",

    image: "",
    title: "Project 1",
  },
  {
    href: "",
    alt: "",
    image: "",
    title: "Project 2",
  },
  {
    href: "",
    alt: "",
    image: "",
    title: "Project 3",
  },
  {
    href: "",
    alt: "",
    image: "",
    title: "Project 4",
  },
  {
    href: "",
    alt: "",
    image: "",
    title: "Project 5",
  },
];
---

<div class="w-full relative">
  <div class="swiper multiple-slide-carousel swiper-container relative">
    <div class="swiper-wrapper mb-16">
      {
        PROJECTS.map((project) => (
          <div class="swiper-slide">
            <Card {...project} />
          </div>
        ))
      }
    </div>
  </div>
</div>
<script>
  import Swiper from "swiper";

  var swiper = new Swiper(".multiple-slide-carousel", {
    loop: false,
    slidesPerView: 3,
    spaceBetween: 0,
    navigation: {
      nextEl: ".multiple-slide-carousel .swiper-button-next",
      prevEl: ".multiple-slide-carousel .swiper-button-prev",
    },
    breakpoints: {
      1920: {
        slidesPerView: 3,
        spaceBetween: 0,
      },
      1028: {
        slidesPerView: 3,
        spaceBetween: 0,
      },
      990: {
        slidesPerView: 3,
        spaceBetween: 0,
      },
    },
  });
</script>
