---
import AstroIcon from "../atoms/icons/AstroIcon.astro";
import JavaScript from "../atoms/icons/JavaScript.astro";
import ReactIcon from "../atoms/icons/ReactIcon.astro";
import Tailwind from "../atoms/icons/Tailwind.astro";
import TypeScript from "../atoms/icons/TypeScript.astro";
---

<div class="flex flex-wrap gap-6 sm:gap-0 sm:justify-between justify-center">
  <div><ReactIcon class="m-auto" />React</div>

  <div><TypeScript class="m-auto" />TypeScript</div>

  <div><JavaScript class="m-auto" />JavaScript</div>

  <div><AstroIcon class="m-auto" />Astro</div>
  <div><Tailwind class="m-auto" />Tailwind</div>
</div>
