---
import Css from "../atoms/icons/Css.astro";
import GithubIcon from "../atoms/icons/GithubIcon.astro";
import GitIcon from "../atoms/icons/GitIcon.astro";
import Html from "../atoms/icons/Html.astro";
import JavaScript from "../atoms/icons/JavaScript.astro";
import Node from "../atoms/icons/Node.astro";
import Tailwind from "../atoms/icons/Tailwind.astro";
---

<div class="flex flex-wrap justify-between w-full gap-4">
  <div><JavaScript class="m-auto" />JavaScript</div>
  <div><Html class="m-auto" />Html</div>
  <div class="text-center"><Css class="m-auto" />Css</div>
  <div><Tailwind class="m-auto" />Tailwind</div>
  <div><Node class="m-auto" />NodeJs</div>
  <div class="text-center"><GitIcon class="m-auto" />Git</div>
  <div><GithubIcon class="m-auto w-10 h-10" />Github</div>
  <div></div>
</div>
